#Nested if, else

In [35]:
num=0
result = "Positive" if num>0 else ("Negative" if num<0 else "Zero")
print(result)

Zero

#List Comprehension

In [37]:
L=[1,2,3,3,4]
[2*x for x in L]

[2, 4, 6, 6, 8]

#List Comprehension with conditional execution

In [41]:
#to print even numbers
L=[1,3,5,89,6,87,90,66]
[x for x in L if x%2==0]

[6, 90, 66]

In [43]:
#to print odd numbers
L=[1,2,3,4,5,6,7,8,9]
[x for x in L if x%2!=0]

[1, 3, 5, 7, 9]

#Dictionary Comprehension

In [49]:
d1={"Ram":[1,2,3,4,5], "John":[9,8,7,66,6]}
d1

{'Ram': [1, 2, 3, 4, 5], 'John': [9, 8, 7, 66, 6]}

In [57]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 3.0, 'John': 19.2}