#Using the Pandas library, perform the following tasks:

# 1. Create a DataFrame from the following data:
   | Name     | Age | Department   | Salary  |
   |----------|-----|--------------|---------|
   | John     | 28  | HR           | 45000   |
   | Alice    | 34  | IT           | 60000   |
   | Bob      | 23  | Marketing    | 35000   |
   | Diana    | 29  | Finance      | 50000   |

In [4]:
import pandas as pd
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Departmet": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)
print("First 2 rows:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10
average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)
older_than_25 = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(older_than_25)

First 2 rows:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0

# 2.Write code to:

  Display the first 2 rows of the DataFrame.
  Add a new column named Bonus where the bonus is 10% of the salary.
  Calculate the average salary of employees in the DataFrame.
  Filter and display employees who are older than 25.

In [ ]:
import pandas as pd
data = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 30, 35, 22, 28],
    'Salary': [50000, 60000, 70000, 55000, 65000]
}
df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10
print("\nUpdated DataFrame with Bonus:")
print(df)
average_salary = df['Salary'].mean()
print("\nAverage Salary of Employees:", average_salary)
filtered_employees = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(filtered_employees)